@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Condensed:wght@100..900&display=swap");

@import "tailwindcss";
@import "./styles/rich-content";

:root {
  --background-dark: #0a0a0f;
  --background-light: #1f2937;
  --background: #111827;

  --background-gradient: linear-gradient(
    135deg,
    var(--background-dark) 0%,
    var(--background) 50%,
    var(--background-light) 100%
  );

  --foreground-dim: hsl(240 5% 64.9%);
  --foreground-light: white;

  --primary: hsl(0 72.2% 50.6%);

  --red: #dd4e49;
  --lightred: #fc6f5b;
  --orange: #fc9d3d;
  --yellow: #f7d749;
  --peach: #f2b99a;
}

@theme {
  --font-condensed: "Roboto Condensed", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
}

@theme inline {
  --color-primary: var(--primary);
  --color-background-dark: var(--background-dark);
  --color-foreground-light: var(--foreground-light);
  --color-foreground-dim: var(--forground-dim);
}

@layer components {
  .space-gradient {
    background: linear-gradient(
      135deg,
      var(--background-dark) 0%,
      var(--background) 50%,
      var(--background-light) 100%
    );
  }

  .rocket-gradient,
  .text-gradient {
    background: linear-gradient(135deg, #dc2626 0%, #ea580c 100%);
  }

  .text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .border-rocket {
    border-image: linear-gradient(135deg, #dc2626 0%, #ea580c 100%) 1;
  }
}

html {
  /* Needed for safari in iOS  */
  @apply bg-background-dark;
}

body {
  background: var(--background-gradient);
  color: var(--foreground-dim);
  font-family: Arial, Helvetica, sans-serif;
}
