.navbar {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: var(--background-dark);
  z-index: 100;
  display: flex;

  h1 {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    margin-right: 1rem;
  }

  a {
    color: var(--foreground-dim);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.linkContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
